div.form-background {
  height: 100vh;
    width: 100vw;
    position: absolute;
    overflow: hidden;
    background-image: url("./../assets/background.jpg");
    // background-color: rgba(255, 255, 255, 0.5);
    background-size: cover;
    background-position: center;
    -webkit-filter: blur(1px);
    filter: blur(1px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
div.form {
  display: flex;
  justify-content: center;
align-items: center;
height: 100vh;
width: 100vw;
}
div.form-content {
  display: flex;
  flex-direction: column;
  height: 30vh;
width: 70vw;
min-height: 200px;
background-color: rgba(255, 255, 255, 0.7);
border-radius: 3vw 3vw 3vw 3vw;
justify-content: center;
align-items: center;
h1 {
  color: $base;
  font-weight: 700;
}
button {
  width: 50%;
  height: 35px;
  border-radius: 20px;
  border: none;
  background: $base;
  color: white;
  margin: 6px;
  font-size: 0.8em;
  font-family: $font-base;
  text-transform: uppercase;
  font-weight: 400;
  transition: 0.3s ease;
}
button:hover {
  background: gray;
  color: white;
  transition: 0.3s ease;
  cursor: pointer;
}
}

@media screen and (min-width: 768px) {
  div.form-content {
    display: flex;
    flex-direction: column;
    height: 50vh;
  width: 30vw;
  min-height: 200px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 3vw 3vw 3vw 3vw;
  justify-content: center;
  align-items: center;
  }
}